@{
    ViewData["Title"] = "Pagina Ppal";
}

<div class="text-center">
    <h1 class="display-4">Proyecto IA con ML.NET</h1>
    <p>Predicción y entrenamiento del modelo 'Inception' provisto por TensorFlow.</p>

    <h2>Datos de Eficiencia:</h2>
    <p>
        @ViewData["EfficiencyData"]
    </p>
</div>
