@{
    ViewData["Title"] = "Pagina Ppal";
}

<div class="mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4">¡Transforma tus Residuos en Recursos!</h1>
        <p class="lead">Descubre cómo reciclar correctamente identificando los materiales de tus desechos con nuestra innovadora herramienta de clasificación.</p>
    </div>

    <section class="mb-5">
        <h2 class="display-6">¿Qué hace nuestra aplicación?</h2>
        <p>Nuestra aplicación utiliza tecnología avanzada para analizar imágenes de tus desechos y clasificar los materiales según su composición: plástico, vidrio, papel, metal, orgánicos y más. ¡Facilitamos el reciclaje para que contribuyas a un planeta más limpio!</p>
    </section>

    <section class="mb-5">
        <h2 class="display-6">¿Por qué es importante reciclar correctamente?</h2>
        <ul class="list-unstyled">
            <li class="mb-2"><i class="bi bi-check-circle-fill text-success"></i> El reciclaje correcto ayuda a reducir la contaminación.</li>
            <li class="mb-2"><i class="bi bi-check-circle-fill text-success"></i> Ahorras recursos al reutilizar materiales.</li>
            <li class="mb-2"><i class="bi bi-check-circle-fill text-success"></i> Proteges el medio ambiente al disminuir residuos en vertederos.</li>
        </ul>
        <div class="d-flex justify-content-center">
            <img src="~/img/degradacion.jpg" alt="Degradación">
        </div>
    </section>

    <section class="mb-5">
        <h2 class="display-6">¿Cómo funciona?</h2>
        <div class="row">
            <div class="col-md-6 align-content-center justify-content-center">
                <ol class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-camera-fill text-primary"></i> Toma una foto de tu residuo.</li>
                    <li class="mb-2"><i class="bi bi-upload text-primary"></i> Súbela a nuestra aplicación.</li>
                    <li class="mb-2"><i class="bi bi-check-circle-fill text-primary"></i> Obtén resultados precisos y sugerencias de reciclaje.</li>
                </ol>
                <a class="btn btn-primary btn-lg mt-3" asp-controller="Prediction" asp-action="AnalizarImagen">¡Prueba ahora!</a>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="~/img/laptop.jpg" alt="Analizar imagen" class="img-fluid w-75">
            </div>
        </div>
    </section>

    <section>
        <h2 class="display-6">Beneficios para la sociedad</h2>
        <ul class="list-unstyled">
            <li class="mb-2"><i class="bi bi-people-fill text-info"></i> Impulsa hábitos sostenibles.</li>
            <li class="mb-2"><i class="bi bi-globe text-info"></i> Contribuye al cumplimiento de objetivos ecológicos.</li>
            <li class="mb-2"><i class="bi bi-heart-fill text-info"></i> Inspira a otros a adoptar prácticas responsables.</li>
        </ul>
    </section>
</div>
